.oneItem {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	margin-bottom: 40px;
}

.imgClother {
	width: 145px;
}

.imgClother img {
	width: 100%;
	height: 100%;
}

.attributesClother {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border: 1px black solid;
	width: 136px;
}

.size {
	display: flex;
	flex-direction: column;
}

.sizeAttr {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.sizeAttr div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px black solid;
	height: 24px;
	width: 24px;
}

.color {
	display: flex;
	flex-direction: column;
}

.colorAttr {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.colorAttr div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px black solid;
	height: 24px;
	width: 24px;
	background-color: aqua;
}

.text {
	word-wrap: break-word;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	margin-bottom: 10px;
	text-align: start;
	border: 1px red solid;
}
