#Cart:hover {
	box-shadow: 0px 1.5px 1.5px 1.5px gray;
}

.cartBtn {
	background-color: transparent;
	border: 0px;
	margin-left: 15px;
}

.mainBlockCart {
	background-color: white;
	margin-top: 31px;
}

.total {
	display: flex;
	justify-content: space-between;
}

.counterItems {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-left: 15px;
	top: 32px;
	border-radius: 100px;
	width: 15px;
	height: 15px;
	text-align: center;
	background-color: black;
	color: white;
}
