.CategoryButton {
	background-color: transparent;
	cursor: pointer;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 550;
	font-size: 16px;
	width: 97px;
	height: 50px;
	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: center;
	text-transform: uppercase;
	line-height: 120%;
	border: 0px;
}

.CategoryButton:hover {
	color: #5ece7b;
	border-bottom: 3px #5ece7b solid;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.CategoryButton:focus {
	color: #5ece7b;
	border-bottom: 3px #5ece7b solid;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}
